body {
  background-color: #141414;
  color: white;
}

.list-containter {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.main-row {
  margin-top: 3%;
}

.row-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 15px;
}

.item-container {
  margin-left: 25px;
  font-size: 20px;
  position: relative;
  text-align: center;
  color: white;
}

.item-container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(7, 0, 0, 0.8);;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .3s ease;
}

.overlay-text {
  color: white;
  font-size: 20px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
  -ms-transform: translate(-50%, -100%);
  text-align: center;
}

button {
  border: none;
  height: 50px;
  font-size: 20px;
}

.Add{
  background-color: green;
  color: white;
  width: 100%;
}

.Remove{
  background-color: red;
  color: white;
  width: 100%;
}

/*.hovered {
  display: inline-block;
}

.unhovered {
  display: none;
}*/


