body {
  background-color: #141414;
  color: white;
}

.list-containter {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.main-row {
  margin-top: 3%;
}

.row-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 15px;
}

.list-item {
  margin-left: 15px;
}

button {
  margin-left: 10px;
}

.hovered {
  display: inline-block;
}

.unhovered {
  display: none;
}


