body {
  background-color: #141414;
  color: white;
}

.app {

}

.list-containter {
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}

.main-row {
  margin-top: 3%;
}

.row-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 15px;
}

.list-item {
  margin-left: 15px;
}

button {
  margin-left: 10px;
}

.mylist-hovered-1 {
  display: inline-block;
}

.mylist-hovered-2 {
  display: inline-block;
}

.mylist-hovered-3 {
  display: inline-block;
}

/*.mylist-unhovered-1 {
  display: none;
}

.mylist-unhovered-2 {
  display: none;
}

.mylist-unhovered-3 {
  display: none;
}*/



